<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="cameca-extensions-dev"
      value="https://pkgs.dev.azure.com/cameca/Extensions/_packaging/extensions-dev/nuget/v3/index.json"
      protocolVersion="3" />
    <add key="cameca-extensions-dev-preview"
      value="https://pkgs.dev.azure.com/cameca/Extensions/_packaging/extensions-dev-preview/nuget/v3/index.json"
      protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="System.*" />
      <package pattern="Microsoft.*" />
      <package pattern="CommunityToolkit.*" />
      <package pattern="inteltbb.*" />
      <package pattern="intelmkl.*" />
      <package pattern="LIveCharts.*" />
    </packageSource>
    <packageSource key="cameca-extensions-dev">
      <package pattern="Cameca.CustomAnalysis.*" />
      <package pattern="Cameca.Extensions.*" />
    </packageSource>
    <packageSource key="cameca-extensions-dev-preview">
      <package pattern="Cameca.CustomAnalysis.*" />
      <package pattern="Cameca.Extensions.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>